body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(4, 121, 0);
}

.statustext {
    font-size: xx-large;
    font-family: 'Cascadia Code', sans-serif;
}

.statustext::after {
    color: rgb(1, 61, 1);
    content: '100';
}

.statustext:hover::after {
    color: rgb(34, 255, 34);
    content: '100';
}